
body{
    background: #3b010d;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Serif', serif;
}
/*==========Contenedor===================*/
.contenedor{
    display: flex;
    flex-direction: column;
    background: black;
    width: 330px;
    margin: auto;
    border-radius: 10px;
    gap: 5px;
}
@media only screen and (min-width: 700px) {
    .contenedor{
        flex-direction: row;
        width: 700px;
        height: 480px;
        margin: 50px auto;
        border-radius: 20px;
    }
}
/*=========CirculosStatus==========*/
.actions{
    display: flex;
    width: 70px;
    height: 20px;
    background: #73041b;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.light-status{
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: #6a6a6a;
}
@media only screen and (min-width: 700px) {
    .actions{
        width: 100px;
        height: 30px;
        gap: 5px;
    }
    .light-status{
        width: 25px;
        height: 25px;
    }
}
#c2{
    background: #ce8b09;
}
/*=======Page1============*/
.media-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: tomato;
    border-radius: 10px;
    gap: 10px;
}
.media{
    width: 180px;
    height: 150px;
    background-color: #a3001f;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #3b010d;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.frame img{
    width: 150px;
}
@media only screen and (min-width: 700px) {
    .media-page{
        display: inline-flex;
        width: 50%;
    }
    .media{
        width: 250px;
        height: 200px;
    }
    .frame img{
        width: 200px;
    }
}
/*=======Section list=======*/
.boton-list{
    width: 55px;
    height: 20px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: #3b010d;
    background: #a3001f;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
@media only screen and (min-width: 700px) {
    .boton-list{
        width: 100px;
        height: 30px;
        margin-left: 5px;
    }
}
/*=======Section Search=======*/
.search-form{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
input{
    background: white;
    width: 235px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.search-form button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #a3001f;
    border-style: solid;
    border-color: #3b010d;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
@media only screen and (min-width: 700px) {
    input{
        height: 30px;
    }
    .search-form button{
        width: 40px;
        height: 40px;
    }
}
.boton-list:active, .search-form button:active{
    background: green;
}
/*==========Page2==========*/
.details-page{
    background: tomato;
    border-radius: 10px;
}
@media only screen and (min-width: 700px) {
    .details-page{
        width: 50%;
    }
}
.title h2, .title h3{
    text-align: center;
    margin: 0px;
    margin-bottom: 1px;
}
.form-estadisticas{
    width: 330px;
    margin-left: 5px;
}
.tipo-poke {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tpokemon{
    background: #a3001f;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    
}
.item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}

.item .item-titulo{
    width: 38px;
}

.item .item-score{
    width: 30px;
}

.item progress{
    width: 200px;
}
.movimientos{
    display: flex;
    flex-direction: column;
}
#movs{
    background: #a3001f;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    margin: -5px auto 5px auto;
}
@media only screen and (min-width: 700px) {
    .item .item-titulo{
        width: 80px;
    }
    
    .item .item-score{
        width: 41px;
    }
    
    .item progress{
        width: 150px;
    }
}
