body{
    background: #3b010d;
}
/*==========Contenedor===================*/
.contenedor{
    display: flex;
    flex-direction: column;
    background: black;
    width: 330px;
    margin: auto;
    border-radius: 10px;
    gap: 5px;
}
@media only screen and (min-width: 700px) {
    /* For tablets: */
    .contenedor{
        display: flex;
        flex-direction: row;
        width: 700px;
        height: 450px;
        margin: 50px auto;
        background: black;
        border-radius: 20px;
        gap: 5px;
    }
}
/*=========CirculosStatus==========*/
.actions{
    display: flex;
    width: 80px;
    height: 20px;
    background: gray;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.light-status{
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: #6a6a6a;
}
#c2{
    background: #ce8b09;
}
/*=======Page1============*/
.media-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: tomato;
    border-radius: 10px;
    gap: 10px;
}
.media{
    width: 180px;
    height: 150px;
    background-color: #a3001f;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
@media only screen and (min-width: 700px) {
    .media-page{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        background-color: tomato;
        border-radius: 10px;
    }
    .media{
        width: 220px;
        height: 180px;
        margin-top: -50px;
        background-color: #a3001f;
        text-align: center;
        border-radius: 10px;
        border-style: none;
    }
}
/*=======Section list=======*/
.boton-list{
    width: 55px;
    height: 20px;
    text-align: center;
    justify-content: center;
    border-style: none;
    background: #a3001f;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
/*=======Section Search=======*/
.search-form{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
input{
    background: white;
    width: 235px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.search-form button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #a3001f;
    border-style: none;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.search-form button:active{
    background: green;
}


/*==========Page2==========*/
.details-page{
    background: tomato;
    border-radius: 10px;
}
@media only screen and (min-width: 700px) {
    /* For tablets: */
    .details-page{
        width: 50%;
        background: tomato;
        border-radius: 10px;
    }
}
.title{
    text-align: center;
}
.form-estadisticas{
    width: 330px;
    margin: auto;
}

.tpokemon, .movs{
    margin-left: 20px;
}
.item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}

.item .item-titulo{
    width: 38px;
}

.item .item-score{
    width: 30px;
}

.item progress{
    width: 200px;
}
@media only screen and (min-width: 700px) {
    /* For tablets: */
    .item .item-titulo{
        width: 80px;
    }
    
    .item .item-score{
        width: 41px;
    }
    
    .item progress{
        width: 150px;
    }
}
